.menu-item {
    height: 22px;
    display: flex;
    flex-grow: 1;
    align-items: center;
    cursor: pointer;
}

.menu-item:hover:not(.selected) {
    background-color: #2e3138;
}

.menu-icon {
    display: flex;
}

.menu-text {
    display: flex;
    padding: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
    padding: 3px 0px 0px 4px;
}

.indent-space {
    width: 16px;
}

.selected {
    background-color: #434751;
    color: #ffffff;
    div svg path {
            fill: #ffffff;
    }
}

.selected:focus {
    background-color: #0068b3;
}

.flex-box {
    display: flex;
}