/* The Modal (background) */
.modal {
  position: fixed;
  /* Stay in place */
  z-index: 999;
  /* Sit on top */
  padding-top: 18%;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: var(--ide-popup-bgcolor);
  margin: auto;
  // padding: 20px;
  border: 1px solid var(--ide-popup-border-color);
  width: 500px;
  max-height: 50%;
  border-radius: 6px;
  // overflow: auto;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  // font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--ide-popup-header-bgcolor);
}
.popup-title {
  display: flex;
  padding: 12px;
  font-weight: 600;
}
.popup-content {
  display: flex;
  padding: 10px;
}
.popup-close {
  display: flex;
  padding: 4px;
}
