table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 11px;
}

td,
th {
  border: 1px solid #414141;
  padding: 4px;
  height: 20px;
}

// tr:nth-child(even){background-color: #3c3c3c;}

tr:hover {
  background-color: var(--ide-editor-tabstatus-hover-bgcolor);
}

th {
  text-align: left;
  background-color: #2f3138;
  color: #fff;
}

.section-container {
  padding: 10px 10px 15px 10px;
}

.section-header {
  height: 25px;
  background-color: var(--ide-section-header-bgcolor);
  margin: auto;
  padding-top: 10px;
  display: flex;
  text-transform: uppercase;
  font-size: 12px;
}
.hyperlink {
  color: blue;
  cursor: pointer;
}
