.menu-item {
    height: 19px;
    display: flex;
    padding-left: 8px;
    padding-top: 3px;
}
.menu-item:hover {
    background-color: #2e3138;
}
.menu-icon {
    display: flex;
}
.menu-text {
    display: flex;
    padding-left: 3px;
}