.ws-nav-root {
    background-color: #2e3138;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: space-between;
    z-index: 10;
    position: absolute;
    width: 48px;
    left: 0;
    bottom: 0;
    top: 0;
}
.nav-actions {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 4px 0;
}
.nav-end-actions {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 4px 0;
}
.nav-btn {
    width: 48px;
    height: 48px;
    cursor: pointer;
}
.nav-btn svg {
    position: relative;
    left: 12px;
    top: 12px;
}
.nav-btn:hover svg path{
    fill: white;
}